@font-face {
    font-family: 'Manrope';
    src: url(/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

:root {
    --vp-c-bg: #111112;
    --vp-c-bg-soft: #161618;
    --vp-c-bg-mute: #202124;
    --vp-c-bg-alt: #161618;
    --vp-c-text-1: #e1e1e1;
    --lmc-green: #2e7d32;
    --lmc-green-dark: #1b5e20;
    --lmc-grey: #999;
    --lmc-grey-dark: #424242;
    --lmc-grey-darker: #212121;
    --lmc-off-white: #f0f0f0;
    --vp-c-brand: var(--lmc-green);
    --vp-nav-bg-color: #161618;
    --lmc-border: #242424;
}

.VPSwitchAppearance {
    display: none !important;
}

body {
    font-family: 'Manrope', sans-serif !important;
    font-weight: 500;
}

.VPHero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/bg.png) no-repeat center center !important;
    background-size: cover !important;
    padding: 60px 0 !important;
    margin-top: 0 !important;
    margin-bottom: 80px !important;
}

.VPHero .name {
    color: white !important;
}

.VPHero .text,
.VPHero .tagline {
    color: var(--lmc-off-white) !important;
}

.VPButton.brand {
    background-color: var(--lmc-green) !important;
    border-color: var(--lmc-green) !important;
}

.VPButton.brand:hover {
    background-color: var(--lmc-green-dark) !important;
    border-color: var(--lmc-green-dark) !important;
}

.VPButton.alt {
    background-color: var(--lmc-grey-dark) !important;
    border-color: var(--lmc-grey-dark) !important;
}

.VPButton.alt:hover {
    background-color: var(--lmc-grey-darker) !important;
    border-color: var(--lmc-grey-darker) !important;
}

.VPNavBarMenuLink,
.VPCNavBarMenuGroupLink,
.VPNavBarMenuGroup .button,
.VPNavBarMenuGroup .text {
    color: var(--lmc-grey) !important;
}

.VPNavBarMenuLink:hover,
.VPCNavBarMenuGroupLink:hover,
.VPNavBarMenuGroup:hover .button,
.VPNavBarMenuGroup:hover .text {
    color: var(--lmc-grey) !important;
}

.VPNavBarMenuLink.active,
.VPCNavBarMenuGroupLink.active,
.VPNavBarMenuGroup.active .button,
.VPNavBarMenuGroup.active .text {
    color: white !important;
}

.vp-doc a {
    color: var(--lmc-off-white) !important;
    text-decoration: none;
    font-weight: inherit;
}

.vp-doc a:hover {
    color: var(--lmc-off-white) !important;
}

.VPButton,
.VPButton.brand,
.VPButton.alt,
[color],
.Button,
.vp-doc .VPButton,
.vp-doc [color] {
    color: #fff !important;
}

.VPButton:hover,
[color]:hover,
.Button:hover {
    color: white !important;
    filter: brightness(0.9);
}

.VPNavBarTitle .title {
    padding: 10px 20px;
    color: white !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
}

.VPNavBar .title {
    color: white !important;
}

.VPFooter {
    background-color: var(--vp-nav-bg-color) !important;
    border-top: 1px solid var(--lmc-border) !important;
}

.VPFeatures {
    position: relative;
    padding-top: 0 !important;
}

.VPFeatures::before {
    content: "Features";
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    color: var(--vp-c-text-1);
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
}

.vp-doc h2 {
    color: var(--lmc-green) !important;
}

h3 {
    font-weight: 700;
}

.vp-doc h3 a {
    color: var(--lmc-green) !important;
}

@media (max-width: 960px) {
    .VPHero {
        text-align: center;
    }

    .VPHero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .VPHero .actions {
        justify-content: center;
    }
}